<!DOCTYPE html>
<html lang="PL" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1"/>
    <title>Lądowanie na normandii</title>
    <link href="stylek.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
        <a class="vertical-center" target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Lądowanie wojsk Aliantów w Normandii</a>
    </div>


    <div id="panel_lewy">
      <div class="nav">

        <ol>
          <li> <a href="#">Strona Główna</a> </li>
          <li> <a href="#">Galeria</a> </li>
          <li> <a href="#">Lista</a> </li>
          <li> <a href="#">Źródła</a> </li>
        </ol>

      </div>
    </div>

    <div class="broken-pixel">
    </div>

    </div>

    <div id="panel_prawy">
      <img class="zoom" src="https://c10.patreonusercontent.com/3/eyJwIjoxfQ%3D%3D/patreon-media/p/post/23095988/7f9fc9afa56545a688e4a5a5a6562acc/1.png?token-time=1589646050&token-hash=awjARU_h7pkaZ0JiOohsjfjRKigSwJCc8Sly_gh9Plg%3D" >
      <img class="zoom" src="images/kociol-cast.png" >
    </div>


    <div id="footer">
      q
    </div>



  </body>
</html>
